/*  qi.phone.style.css
    
    HYYQI@github
    phone website
    项目特殊样式
    
    2024.10.12
    2024.10.13
*/

@import url("qi.phone.input.css");/*导入输入框样式*/

.main_card {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e0e4f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.person {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.person img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.person-name {
    flex-grow: 1;
}

.person-link img {
    width: 24px;
    height: 24px;
}